@page "/{projectUrlSlug}"
@using Web3raffle.Web.Client.Shared

@*SUMMARY SECTION*@
@if (!IsInitialLoad)
{
    <section class="relative max-w-9xl mx-auto">
        <div class="relative grid grid-cols-12 px-[1.25rem] mobile:px-[1.875rem] xs:px-8 mt-[-1.875rem] mobile:mt-0">

            <div class="col-span-12 lg:col-span-6 px-1 py-1">
                <div class="rounded-[0.75rem] pr-10 pb-10">

                    <div class="h-[3.25rem] w-[3.25rem] flex-shrink-0">
                        <img class="h-[3.25rem] w-[3.25rem] rounded-full border-[#dddddd]" src="@(string.IsNullOrEmpty(Project.RaffleLogoURL) ? "img/android-chrome-96x96.png" : Project.RaffleLogoURL)" alt="project icon">
                    </div>
                    <h2 class="mb-8 font-display text-title font-bold tracking-tight text-title-color leading-[60px]">@Project.Name</h2>

                    <div class="relative flex flex-wrap justify-left gap-y-12 gap-x-5 px-8 pl-0 mb-[20px]">
                        <a href="@Project.ExternalURL" title="Goto @Project.Name Website" target="_blank" rel="noopener noreferrer nofollow" class="font-bold text-color-primary mr-[10px] text-[16px]"><i class="fa-solid fa-globe"></i><span class="pl-1.5 hidden mobile:inline">WEBSITE</span></a>
                        @if (!string.IsNullOrEmpty(Project.Twitter))
                        {
                            <a href="https://twitter.com/@Project.Twitter" title="Goto Twitter" target="_blank" rel="noopener noreferrer nofollow" class="font-bold text-color-primary mr-[10px] text-[16px]"><i class="fa-brands fa-twitter"></i><span class="pl-1.5 hidden mobile:inline">TWITTER</span></a>
                        }
                        @if (!string.IsNullOrEmpty(Project.Discord))
                        {
                            <a href="https://discord.com/invite/@Project.Discord" title="Goto Discord" target="_blank" rel="noopener noreferrer nofollow" class="font-bold text-color-primary mr-[10px] text-[16px]"><i class="fa-brands fa-discord"></i><span class="pl-1.5 hidden mobile:inline">DISCORD</span></a>
                        }
                    </div>
                </div>
            </div>

            <div class="col-span-12 lg:col-span-6 px-1 py-1 pt-[0.625rem]">
                <div class="rounded-[0.75rem] p-0 lg:p-10 lg:pt-0">
                    <p class="text-base leading-[28px]">
                        <strong class="block mb-[10px]">About @Project.Name</strong>
                        @Project.Description
                    </p>
                    <p class="mt-[20px]">
                        <a href="@Project.TermsOfUseExternalUrl" target="_blank" class="inline font-bold text-color-primary uppercase mr-[60px]">Term of Use</a>
                        <a href="@Project.PrivacyPolicyExternalURL" target="_blank" class="inline font-bold text-color-primary uppercase">Privacy Policy</a>
                    </p>
                </div>
            </div>


        </div>
    </section>
    <ExploreRaffle ProjectId="@Project.Id" />
}
